---
// Import the necessary components
import MainLayout from "@/layouts/MainLayout.astro";
import HeroSection from "@components/sections/landing/HeroSection.astro";
import HeroSectionAlt from "@components/sections/landing/HeroSectionAlt.astro";
import ClientsSection from "@components/sections/landing/ClientsSection.astro";
import FeaturesGeneral from "@components/sections/features/FeaturesGeneral.astro";
import FeaturesNavs from "@components/sections/features/FeaturesNavs.astro";
import TestimonialsSection from "@components/sections/testimonials/TestimonialsSection.astro";
import PricingSection from "@components/sections/pricing/PricingSection.astro";
import FAQ from "@components/sections/misc/FAQ.astro";
import AnnouncementBanner from "@components/ui/banners/AnnouncementBanner.astro";
import heroImage from "@images/Untitled design.png";
import faqs from "@data/faqs.json";
import features from "@data/features.json";
import pricing from "@data/pricing.json";
import construction from "@images/construction-image.avif";
import tools from "@images/automated-tools.avif";
import dashboard from "@images/dashboard-image.avif";
import { partnersData } from "@/data_files/constants";

const avatarSrcs: Array<string> = [
  "https://images.unsplash.com/photo-1568602471122-7832951cc4c5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=2&w=300&h=300&q=80",
  "https://images.unsplash.com/photo-1531927557220-a9e23c1e4794?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=2&w=300&h=300&q=80",
  "https://images.unsplash.com/photo-1541101767792-f9b2b1c4f127?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&&auto=format&fit=facearea&facepad=3&w=300&h=300&q=80",
  "https://images.unsplash.com/photo-1492562080023-ab3db95bfbce?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=2&w=300&h=300&q=80",
];
---

<MainLayout>

  <HeroSection
    title=`Qatar's Leading PET Preform <span
        class="text-maroon-700 dark:text-maroon-700">Manufacturer</span>`
    subTitle="Innovative Excellence in Plastic Solutions for Water, Juice & Dairy Packaging."
    primaryBtn="Start Exploring"
    primaryBtnURL="/products"
    secondaryBtn="Contact us"
    secondaryBtnURL="/contact"
    src={heroImage}
    alt="Stack of Water Preform product"
  />

  <ClientsSection
    title="Trusted by Industry Leaders"
    subTitle="Experience the reliability chosen by industry giants."
    partners={partnersData}
  />

  <FeaturesGeneral
  title="Excellence in PET Preform Manufacturing"
  subTitle="At Qatar International Plastic Factory, we specialize in high-quality PET preforms for water, juice, and dairy packaging."
  features={features} 
/>


<FeaturesNavs
  title={`Customize <span class="text-yellow-500 dark:text-yellow-400">Qatar International Plastic Factory</span>'s offerings to suit your packaging needs.`}
  tabs={[
    {
      heading: "State-of-the-Art PET Preforms",
      content:
        "We specialize in high-quality PET preforms for water, juice, and dairy products, manufactured using advanced Milacron machines.",
      svg: "tools",
      src: tools,
      alt: "PET preforms on a production line",
      first: true,
    },
    {
      heading: "Custom Solutions for Hot & Cold Fill",
      content:
        "Our PET preforms are tailored for both hot fill (up to 80°C) and cold fill applications, designed to meet the highest industry standards.",
      svg: "dashboard",
      src: dashboard,
      alt: "Custom PET preforms for hot and cold fill applications",
      second: true,
    },
    {
      heading: "Quality Assurance & Innovation",
      content:
        "Equipped with advanced instruments, we ensure top-quality standards while continuously innovating new mold products.",
      svg: "house",
      src: construction,
      alt: "Quality assurance instruments in the factory",
    },
  ]}
/>

  <TestimonialsSection
    title="Fast-Track Your Production"
    subTitle="At Qatar International Plastic Factory, we ensure a swift start with instant production setup. Experience the speed of manufacturing redefined."
    ;
    testimonials={[
      {
        content:
        "Qatar International Plastic Factory dramatically boosted our production efficiency. Setup was instant, and their rapid response times are phenomenal. Truly a game-changer in plastic manufacturing!",
        author: "Samantha Ruiz",
        role: "Chief Operating Officer | ConstructIt Inc.",
        avatarSrc:
          "https://images.unsplash.com/photo-1593104547489-5cfb3839a3b5?q=80&w=1453&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D8&auto=format&fit=facearea&facepad=2&w=320&h=320&q=80",
      },
    ]}
    statistics={[
      {
        count: "80M+",
        description:
          "preforms produced monthly — from small to large-scale production",
      },
      {
        count: "18k+",
        description:
          "tons of finished products annually",
      },
      {
        count: "6",
        description:
          "production lines with the latest international technology",
      },
      {
        count: "2x",
        description: "quicker production using innovative plastic solutions",
      },
    ]}
  />

  <!-- <PricingSection pricing={pricing} /> -->

  <FAQ title="Frequently<br />asked questions" faqs={faqs} />

 <HeroSectionAlt
  title="Let’s Innovate Together"
  subTitle="Your trusted partner for high-quality PET preforms for water, juice, and dairy packaging."
  />
</MainLayout>
